# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

documentacion/2020_Propuesta_Registro_Informacion_movilizacion.docx
documentacion/diagrama registro 1.0.pdf
documentacion/Examen SCI-100, SCI-200.docx
documentacion/Examen S-190, S-130.docx
