.gradiente {
  background: rgba(85, 13, 2, 1);
  background: -moz-linear-gradient(
    left,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(85, 13, 2, 1)),
    color-stop(16%, rgba(94, 15, 3, 1)),
    color-stop(79%, rgba(129, 24, 8, 0.25)),
    color-stop(89%, rgba(95, 23, 12, 0.13)),
    color-stop(94%, rgba(121, 23, 12, 0.07)),
    color-stop(100%, rgba(112, 24, 16, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#550d02', endColorstr='#701810', GradientType=1 );
  height: 10px;
  margin-top: 0;
}

.myInput {
  background-color: rgb(241, 238, 238);
}

/*--Trabajo en equipo CSS--*/
.wi-100{
  width: 100%;
}
.wi-90{
  width: 90%;
}
.wi-80{
  width: 80%;
}
.wi-70{
  width: 70%;
}
.wi-60{
  width: 60%;
}
.wi-50{
  width: 50%;
}
.top-logo{
  max-height: 100px;
}
.btn-margin{
  margin-bottom: 1em;
}
.body_wrap {
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 0.5em 0;
  padding: 0.5em;
}
.body_wrap label {
  font-weight: 600;
  font-size: 1em;
}
.modal-90w {
  width: 90%;
}
.modal-90w label {
  font-weight: 600;
  font-size: 1em;
}
.modal-90w .modal-header {
  text-align: center;
  display: inline-block;
  color: #9d2449;
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: center;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
  }
}
.imagen {
  text-align: right;
}
/* CLASE LOGIN */

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1 {
  padding: 5%;
  background: #b5b7ba;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
  text-align: center;
  color: #333;
}
.login-form-2 {
  padding: 5%;
  background: #a01f3f;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
  text-align: center;
  color: #fff;
}
/* Desactivado */
.login-form-2disabled {
  padding: 5%;
  background: #546e8a;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2disabled h3 {
  text-align: center;
  color: #fff;
}
/* Desactivado */
.login-container form {
  padding: 10%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #a01f3f;
}
.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #a01f3f;
  background-color: #fff;
}
.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd {
  color: #a01f3f;
  font-weight: 600;
  text-decoration: none;
}
.ayudaStyle{
  margin-right: .5em;
  margin-bottom: .5em;
  background-color: #a01f3f;
  border-color: #a01f3f;
}
.ayudaStyle:hover, .ayudaStyle:active, .ayudaStyle:focus{
  background-color: #741e33!important;
  border-color: #741e33!important;
}
.newDanger{
  background-color: #a01f3f;
  border-color: #a01f3f;
}
.newDanger:hover, .newDanger:active, .newDanger:focus{
  background-color: #741e33!important;
  border-color: #741e33!important;
}
.colorInst{
  background-color: #a01f3f;
  color: #fff;
}
.colorInst .close{
  color: #fff;
}
/* CLASE LOGIN */

/*--Trabajo en equipo CSS--*/
