.gradiente {
  background: rgba(85, 13, 2, 1);
  background: -moz-linear-gradient(
    left,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(85, 13, 2, 1)),
    color-stop(16%, rgba(94, 15, 3, 1)),
    color-stop(79%, rgba(129, 24, 8, 0.25)),
    color-stop(89%, rgba(95, 23, 12, 0.13)),
    color-stop(94%, rgba(121, 23, 12, 0.07)),
    color-stop(100%, rgba(112, 24, 16, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(85, 13, 2, 1) 0%,
    rgba(94, 15, 3, 1) 16%,
    rgba(129, 24, 8, 0.25) 79%,
    rgba(95, 23, 12, 0.13) 89%,
    rgba(121, 23, 12, 0.07) 94%,
    rgba(112, 24, 16, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#550d02', endColorstr='#701810', GradientType=1 );
  height: 10px;
}

.myInput{
  background-color: rgb(241, 238, 238);
}

/*--Trabajo en equipo CSS--*/
.btn-margin{
  margin-bottom: 1em;
}
.body_wrap
{
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: .5em 0;
  padding: .5em;
}
.body_wrap label{
  font-weight: 600;
  font-size: 1em;
}
.modal-90w{
  width: 90%;
}
.modal-90w label{
  font-weight: 600;
  font-size: 1em;
}
.modal-90w .modal-header{
  text-align: center;
  display: inline-block;
  color: #9d2449;
}
.center-text{
  text-align: center;
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
  }
}

.imagen{
  float: right
}
/*--Trabajo en equipo CSS--*/